<div class="card">
    <div class="card-header" >
        <i class="fa fa-align-justify"></i>List User
    </div>
         {{#if messages.msg_info}}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Success!</h5>
        {{messages.msg_info}}
    </div>
    {{/if}}
    {{#if messages.msg_error}}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        {{messages.msg_error}}
    </div>
    {{/if}}

    <div class="card-body">
            <a href="/admin/add-admin" class="btn btn-primary" >Tambahkan Admin</a>
                <br/>
        <br/>
        <br/>
        <table class="table table-responsive-sm table-bordered data-table">
            <colgroup>
                <col span="1" style="width: 2%; height: 70px;">
                <col span="1" style="width: 8%; height: 70px;">
                <col span="1" style="width: 10%; height: 70px;">
                <col span="1" style="width: 20%; height: 70px;">
                <col span="1" style="width: 10%; height: 70px;">
                <col span="1" style="width: 20%; height: 70px;">
                <col span="1" style="width: 30%; height: 70px;">
            </colgroup>

            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Admin</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>Manajemen</th>
                    <th>Action</th>
                </tr>
            </thead>
               <tbody>
                 {{#each list_admin}}
                <tr><td>{{no}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{role}}</td>
                    <td>{{phone}}</td>
                    <td>{{management}}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="/admin/listadmin/{{id}}">
                            <i class="fas fa-pencil-alt pr-1"></i>
                            Edit
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>

     
        <br/>

    </div>
</div>