<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i>Detail User
      <div class="row">
        <div class="col-sm-3">
            <div class="input-group">
            </div>
        </div>
        </div>
    </div>

    <div class="card-body">
        
            <div class="col-sm-12 form-group">
            <label for="id">Id</label>
              <input class="form-control" id="id" name="id" type="text" value="{{list_user_id.id}}" readonly >
            </div>
            <div class="col-sm-12 form-group">
            <label for="name">Nama Lengkap</label>
              <input class="form-control" id="title" name="title" type="text" value="{{list_user_id.name}}" readonly>
            </div>
            <div class="col-sm-12 form-group">
            <label for="description">Title</label>
              <input class="form-control" id="description" name="description" type="text" value="{{list_user_id.title}}" readonly>
            </div>
            <div class="col-sm-12 form-group"> 
            <label for="video">Place DoB</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.place_dob}}" readonly>
            </div>
                  <div class="col-sm-12 form-group"> 
            <label for="video">Tanggal Lahir</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.dob}}" readonly>
            </div>
            <div class="col-sm-12 form-group"> 
            <label for="video">Email</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.email}}" readonly>
            </div> 
                        <div class="col-sm-12 form-group"> 
            <label for="video">Phone</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.phone}}" readonly>
            </div> 
                        <div class="col-sm-12 form-group"> 
            <label for="video">NIK</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.nik}}" readonly>
            </div> 
                        <div class="col-sm-12 form-group"> 
            <label for="video">Status</label>
             <input class="form-control" id="video" name="video" type="text" value="{{list_user_id.status}}" readonly>
            </div>     
                     
        <br/>

        <div class="card-footer">
          <button class="btn btn-primary" type="button" onclick="history.back();"><i class="fa fa-chevron-left"></i> Back</button>
        </div>
      
    
    
     </div>
</div>